.hero-section {
    background-image: url("../images/bg-hero-desktop.svg");
    background-color: var(--pale-cyan);
}


.navbar-logo {
    width: 60%;
}

@media (min-width: 992px) {
    .hero-info {
        padding-top: 3.5em;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        width: 50% !important;
    }

    h1, p {
        text-align: center;
    }

    .pink-btn {
        margin: 1em 20% ;
        padding: 0.5em 1em;
    }

    .container .hero-img {
        padding: 1.7em;
    }
}