@import url(./button.css);
@import url(./hero.css);
@import url(./reset.css);
@import url(./main.css);
@import url(./footer.css);

:root {
    --pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan:hsl(192, 100%, 9%);
    --gray-blue: hsl(208, 11%, 55%);
    --white: #ffff;
}

* {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red !important; */
}

h1 {
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 1rem;
}

.attribution { 
    position: fixed;
    bottom: 1%;
    right: 1%;
    font-size: 11px; 
    text-align: center !important; 

}
.attribution a { 
    color: #ffff; 
    font-size: 11px; 
}


@media (max-width: 992px) { 

    /* main section */

    .main-img {
        width: 70%;
        margin-top: 25%;
        margin-bottom: 25%;
    }

    .p-info {
        width: 100%;

    }

}


@media (max-width: 768px) {

    /* main section */

    .main-img {
        width: 60%;
        margin: 0 25% 5% 20%;
    }
}


@media (max-width: 576px) {


    /* main section */

    main .main-div {
        margin: 3% 5% 0 5%;
    }

    main .container {
        margin-bottom: 0 !important;
    }

    main .container h2 {
        text-align: center;
    } 

    /* cta section */

    .cta {
        position: relative;
        top: 30px;
    }

    .cta h2 {
        font-size: 1rem;
    }

    .cta .pink-btn {
        position: static;
        padding: 5% !important;
        font-size: 0.9rem;
    }

    footer .container {
        padding: 0 !important;
    }
} 
