@import url(./button.css);
@import url(./hero.css);
@import url(./reset.css);
@import url(./main.css);
@import url(./footer.css);

:root {
    --pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan:hsl(192, 100%, 9%);
    --gray-blue: hsl(208, 11%, 55%);
    --white: #ffff;
}

* {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red !important; */
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.attribution { 
    position: fixed;
    bottom: 1%;
    right: 1%;
    font-size: 11px; 
    text-align: center !important; 

}
.attribution a { 
    color: #ffff; 
    font-size: 11px; 
}
